{{!-- 
    Partial: Formulaire
 --}}


 <!-- NEW FORMULAIRE -->
    <div class="container mt-5 ">
        <h1 class="text-center">Formulaire</h1>
        <div class="row">
            <!-- 1ere case -->
            <div class="col md-12">
                <div class="row">
                    <div class="col md-6">
                        <!-- Input + textarea Nom -->
                        <div class="mb-6">
                            <label for="exampleFormControlInput1" class="form-label text-white">Nom</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Solo">
                        </div>
                    </div>
                    <!-- Input + textarea Prenom -->
                    <div class="col mb-6">
                        <div class="mb-6">
                            <label for="exampleFormControlInput1" class="form-label text-white">Prenom</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Bruno">
                        </div>
                    </div>
                </div>
                <!-- Input + textarea Email -->
                <div class="mb-12">
                    <label for="exampleFormControlInput1" class="form-label text-white">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="brunosolo@example.com">
                </div>

                <!-- Input + textarea Sujet -->
                <div class="mb-12">
                    <label for="exampleFormControlInput1" class="form-label text-white">Sujet</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>

                <!-- Input + textarea message -->
                <div class="mb-12">
                    <label for="exampleFormControlTextarea1" class="form-label text-white">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <!-- Button white envoyer -->
                <div class="col-md-12 text-center mt-2">
                    <button type="button" class="btn btn-outline-light">Envoyer</button>
                </div>
            </div>


            <!-- 2eme case -->
            <!-- partie email -->
            <div class="col-md-6 text-white text-center align-self-center mt-3">
                <div class="col-md-12 border border-white rounded">
                    <!-- <i class="bi bi-envelope-check"></i> -->
                    <i class="fa-solid fa-envelope fa-2x"></i>
                    <h3>Email</h3>
                    <p>tesloucheservice@gmail.com</p>
                </div>
                <!-- Partie telephone -->
                <div class="col-md-12 mt-4 border border-white rounded">
                    <i class="fa-solid fa-phone fa-2x"></i>
                    <h3>Téléphone</h3>
                    <p>+33 6 60 63 41 85</p>
                </div>
            </div>
        </div>
    </div>