{{!-- 
    Partial: List Cards
 --}}

 <!-- LIST-CARDS -->
    <div class="container">
        <div class="row justify-content-around text-dark">
            <div class="card mt-5 px-0 rounded-5" style="width: 18rem;" data-aos="fade-up">
                <img src="./assets/images/pandc.jpeg" class="card-img-top rounded-5" alt="...">
                <div class="card-body text-center ">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-dark">Go somewhere</a>
                </div>
            </div>

            <div class="card mt-5  px-0 rounded-5" style="width: 18rem;" data-aos="fade-up">
                <img src="./assets/images/environnemental.jpeg" class="card-img-top rounded-5" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-dark">Go somewhere</a>
                </div>
            </div>

            <div class="card mt-5 px-0 rounded-5" style="width: 18rem;" data-aos="fade-up">
                <img src="./assets/images/productimpact.jpeg" class="card-img-top rounded-5" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //LIST-CARDS -->