{{!-- 

 --}}



 <!-- COMMENTAIRES -->
    <div class="container">
        <div class="col-md-12 row mt-4">
            <div class="col row text-center">
                <h3>COMMENTAIRES</h3>
            </div>
        </div>
        <div class="col row">
            <div class="col row border border-white text-center">
                <img src="./assets/images/wallpaper-kush.png" alt="" class="img-size-52-52 rounded-circle mt-3">
                <div class="col row">
                    <h2 class="d-flex align-items-center mt-2">ğ““ğ“» ğ“šğ“¾ğ“¼ğ“± </h2>
                    <p class="d-flex align-items-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Repellat, nulla culpa? Asperiores, praesentium accusamus expedita ipsum quidem laborum. Quasi
                        rem voluptatibus architecto eos corporis voluptas? ipsum dolor sit amet consectetur adipisicing
                        elit. Voluptatem odio ad earum minus molestiae iste similique. Odio perspiciatis eaque
                        exercitationem</p>
                    <div class="col text-end mb-2">
                        <button type="button" class="btn btn-outline-primary border-white"><i
                                class="fa-solid fa-thumbs-up fa-flip text-white " style="--fa-animation-duration: 3s;"></i></button>
                        <button type="button" class="btn btn-outline-danger border-white"><i
                                class="fa-solid fa-thumbs-down fa-flip text-white" style="--fa-animation-duration: 3s;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END COMMENTAIRES -->