{{!-- 
    Partial: Contacts/ Header
 --}}

  <!-- Header -->
    <header class="card bg-dark text-white">
        <img src="./assets/images/Model-3.jpeg" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay ">
        </div>
    </header>