{{!-- 
    Partial: Write Commentary
 --}}

 <!-- DEBUT ECRIRE COMMENTAIRE -->
    <div class="container mt-4">
        <div class="col-md-12 row">
            <div class="col row">
                <h3 class="text-center">Laissez un commentaire</h3>
                <div class="col md-6">
                    <!-- Input + textarea Nom -->
                    <div class="mb-12">
                        <label for="exampleFormControlTextarea1" class="form-label text-white text-start">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <!-- Button white envoyer -->
                    <div class="col-md-12 text-center mt-2">
                        <button type="button" class="btn btn-outline-light">Envoyer</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- FIN ECRIRE COMMENTAIRE -->